# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Virtual environments
venv/
.venv/
env/
.env/
ENV/

# Project specific ignores
# Ignore contents of data, models, and logs but track .gitkeep files
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/features/*
!data/features/.gitkeep

models/*
!models/.gitkeep

logs/*
!logs/.gitkeep

# OS files
.DS_Store
Thumbs.db
